[submodule "extensions/customers"]
	path = extensions/customers
	url = https://github.com/Sands-45/stall-customers-extension.git
[submodule "extensions/currencies"]
	path = extensions/currencies
	url = https://github.com/Sands-45/stall-currencies-extension.git
[submodule "extensions/products"]
	path = extensions/products
	url = https://github.com/Sands-45/stall-products-extensions.git
