[submodule "extensions/customers"]
	path = extensions/customers
	url = https://github.com/Sands-45/stall-customers-extension.git
[submodule "extensions/currencies"]
	path = extensions/currencies
	url = https://github.com/Sands-45/stall-currencies-extension.git
[submodule "extensions/products"]
	path = extensions/products
	url = https://github.com/Sands-45/stall-products-extensions.git
[submodule "extensions/categories"]
	path = extensions/categories
	url = https://github.com/Sands-45/stall-categories-extension.git
[submodule "extensions/collections"]
	path = extensions/collections
	url = https://github.com/Sands-45/stall-collections-extension.git
